[Unit]
Description=Run tutuicmptunnel reaper every 5 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Unit=tutuicmptunnel-server-reaper.service

[Install]
WantedBy=timers.target
