[Unit]
Description=tutuicmptunnel tuctl server
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/tuctl_server --psk testpassword --port 14801
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
