[Unit]
Description=tutuicmptunnel-kmod server loader for %i
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/tutuicmptunnel-server-%i
ExecStartPre=/bin/bash -c 'modprobe tutuicmptunnel || true'
ExecStartPre=/bin/mkdir -p /etc/tutuicmptunnel
ExecStart=/bin/bash -c '\
    if [ -f /etc/tutuicmptunnel/config ]; then  \
        exec ktuctl script /etc/tutuicmptunnel/config; \
    else  \
        exec ktuctl server; \
    fi'
ExecStop=/bin/bash -c 'tmpfile=$(mktemp); if ktuctl dump > "$tmpfile"; then mv "$tmpfile" /etc/tutuicmptunnel/config; else rm -f "$tmpfile"; fi'
ExecStop=/bin/bash -c 'modprobe -r tutuicmptunnel || true'
RemainAfterExit=yes

StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target
